/**
* @name - Ashiba's theme
*/
@import url("https://puckzxz.github.io/NotAnotherAnimeTheme/build/v3/naat.v3.css");
:root {
--main-theme-color: #00e66f;
--theme-transparency: #000000bd;
--theme-background-image: url('https://moewalls.com/wp-content/uploads/2023/03/war-devil-manga-scroll-chainsaw-man-thumb.jpg');
--home-icon-image: url('https://avatars.githubusercontent.com/u/83341384?s=280&v=4');
--home-icon-image-zoom: 100%;
--home-icon-image-position: center;
--server-listing-width: 72px;
--font-size: 100%;
--mention-color: #faa61a0d;
--mention-sider: #faa61aff;
--mention-hover-color: #faa61a14;
--category-hover-color: #3cca8aff;
--unread-server-animation: rainbow;
--video-screen-button-background-color: #c8c8c833;
--video-screen-button-foreground-color: #ffffffff;
--video-screen-button-background-hovor-color: #c8c8c866;
--video-screen-button-foreground-hovor-color: #ffffffff;
--member-listing-role-color: #43b581ff;
--small-user-popout-background-image: url('https://i.imgur.com/j1Z6HVc.jpg');
--small-user-popout-background-transparency: #00000099;
--small-user-popout-background-image-position: center;
--big-user-popout-background-image: url('https://i.imgur.com/j1Z6HVc.jpg');
--big-user-popout-background-transparency: #00000099;
--big-user-popout-background-image-position: center;
--code-markup-background-color: #00000099;
--code-markup-border: 1px solid transparent;
--message-box-transparency: #00000099;
--embed-background-transparency: #00000000;
--message-hover-buttons-background: #c8c8c81a;
--context-menu-transparency: #0f0f0fcc;
--add-discover-icon-transparency: #c8c8c826;
--add-discover-icon-color: #43b581;
--channel-limit-count-color: #43b581;
--channel-limit-background-left: #c8c8c81a;
--channel-limit-background-right: #c8c8c833;
--scrollbar-color: #c8c8c833;
--unread-message-divider-color: #f04747;
--unread-message-divider-font-color: #ffffff;
--new-messages-bar-background-color: #7289da;
--new-messages-bar-font-color: #ffffff;
--emoji-menu-background-color: #ffffff;
--emoji-menu-sider-background-color: #ffffff;
--emoji-menu-server-header-background-color: #ffffff;
--emoji-menu-bottom-bar-background-color: #ffffff;
--emoji-menu-search-bar-background-color: #ffffff;
--message-search-menu-background-color: #000000cc;
--message-search-container-background-color: #00000099;
--message-search-result-background-color: #c8c8c80d;
--text-voice-channel-color: #8e9297ff;
--text-voice-channel-hover-color: #dcddde;
--text-voice-channel-selected-text-color: #ffffff;
--unread-text-channel-color: #ffffff;
--unread-text-channel-bubble-color: #ffffff;
--folder-background-color: #2f3136;
--expanded-folder-background-color: #00000000;
--reaction-emoji-background-color: #00000000;
--reaction-emoji-border-color: 1px solid transparent;
--reaction-emoji-hover-background-color: #ffffff1a;
--reaction-emoji-hover-border-color: #ffffff33;
}